<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boyuanitsm.echinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        >

        <activity android:name=".module.start.SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity
            android:name=".module.home.ui.MainAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            ></activity>
        <!--我的资料-->
        <activity
            android:name=".module.mine.ui.MineAct"
            android:screenOrientation="portrait" />
        <!--查专利-->
        <activity
            android:name=".module.home.ui.search.SearchPatentAct"
            android:screenOrientation="portrait" />
        <!--消息-->
        <activity
            android:name=".module.mine.ui.MsgAct"
            android:screenOrientation="portrait" />
        <!--我的关注-->
        <activity
            android:name=".module.mine.ui.FollowAct"
            android:screenOrientation="portrait" />
        <!--意见反馈-->
        <activity
            android:name=".module.mine.ui.FeedBackAct"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".module.mine.ui.SettingAct"
            android:screenOrientation="portrait" />
        <!--修改资料内容-->
        <activity
            android:name=".module.mine.ui.EditAct"
            android:screenOrientation="portrait" />
        <!--分享-->
        <activity
            android:name=".module.mine.ui.ShareDialogAct"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialogStyle" />
        <!--登录-->
        <activity
            android:name=".module.user.ui.LoginAct"
            android:screenOrientation="portrait" />
        <!--注册-->
        <activity
            android:name=".module.user.ui.RegisterAct"
            android:screenOrientation="portrait" />
        <!--注册成功-->
        <activity
            android:name=".module.user.ui.RegisterSuccessAct"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity android:name=".module.user.ui.ForgetPwdAct"
            android:screenOrientation="portrait"/>
        <!--查商标-->
        <activity
            android:name=".module.home.ui.search.SearchBrandFrg"
            android:screenOrientation="portrait" />
        <!--查著作权-->
        <activity
            android:name=".module.home.ui.search.SearchCopyrightAct"
            android:screenOrientation="portrait" />
        <!--查判决-->
        <activity
            android:name=".module.home.ui.search.SearchJudgmentAct"
            android:screenOrientation="portrait" />
        <!--查被执行-->
        <activity
            android:name=".module.home.ui.search.SearchImplementedAct"
            android:screenOrientation="portrait" />
        <!--查失信-->
        <activity
            android:name=".module.home.ui.search.SearchlosecreditAct"
            android:screenOrientation="portrait" />
        <!--查股东/法人-->
        <activity
            android:name=".module.home.ui.search.SearchShareholderAct"
            android:screenOrientation="portrait" />
        <!--高级搜索-->
        <activity
            android:name=".module.home.ui.search.AdvancedSearchAct"
            android:screenOrientation="portrait" />
        <!--高级搜索注册时间筛选-->
        <activity
            android:name=".module.home.ui.search.RegisterTimeAct"
            android:screenOrientation="portrait" />
        <!--高级搜索注册资金筛选-->
        <activity
            android:name=".module.home.ui.search.RegisterMoneyAct"
            android:screenOrientation="portrait" />
        <!--公司信息-->
        <activity android:name=".module.company.ui.CompanyAct"
            android:screenOrientation="portrait"/>
        <!--被执行人界面-->
        <activity
            android:name=".module.company.ui.ExecutedPersonAct"
            android:screenOrientation="portrait" />
        <!--产品信息-->
        <activity
            android:name=".module.company.ui.ProductInfoAct"
            android:screenOrientation="portrait" />
        <!--抽查检查-->
        <activity
            android:name=".module.company.ui.SpotCheckAct"
            android:screenOrientation="portrait" />
        <!--动产抵押-->
        <activity
            android:name=".module.company.ui.ChattelMortgageAct"
            android:screenOrientation="portrait" />
        <!--对外投资-->
        <activity
            android:name=".module.company.ui.ForeignInvestmentAct"
            android:screenOrientation="portrait" />
        <!--法院公告-->
        <activity
            android:name=".module.company.ui.CourtAnnouncementAct"
            android:screenOrientation="portrait" />
        <!--法院判决-->
        <activity
            android:name=".module.company.ui.CourtDecisionAct"
            android:screenOrientation="portrait" />
        <!--分支机构-->
        <activity
            android:name=".module.company.ui.BranchAct"
            android:screenOrientation="portrait" />
        <!--分支机构详情-->
        <activity
            android:name=".module.company.ui.BranchDetailAct"
            android:screenOrientation="portrait" />
        <!--股东详细信息-->
        <activity
            android:name=".module.company.ui.ShareholderAct"
            android:screenOrientation="portrait" />
        <!--股东信息-->
        <activity
            android:name=".module.company.ui.ShareholderInfoAct"
            android:screenOrientation="portrait" />
        <!--纠错-->
        <activity
            android:name=".module.company.ui.ErrorCorrectionAct"
            android:screenOrientation="portrait" />
        <!--股权出资-->
        <activity
            android:name=".module.company.ui.EquityAct"
            android:screenOrientation="portrait" />
        <!--行政处罚-->
        <activity
            android:name=".module.company.ui.PunishmentAct"
            android:screenOrientation="portrait" />
        <!--经营异常-->
        <activity
            android:name=".module.company.ui.AbnormalOperationAct"
            android:screenOrientation="portrait" />
        <!--企业年报-->
        <activity
            android:name=".module.company.ui.YearReportsAct"
            android:screenOrientation="portrait" />
        <!--企业资产信息-->
        <activity
            android:name=".module.company.ui.AssetInfoAct"
            android:screenOrientation="portrait" />
        <!--企业资讯-->
        <activity
            android:name=".module.company.ui.EnterpriseInfoAct"
            android:screenOrientation="portrait" />
        <!--融资信息-->
        <activity
            android:name=".module.company.ui.FinancingInfoAct"
            android:screenOrientation="portrait" />
        <!--著作权-->
        <activity
            android:name=".module.company.ui.CopyrightAct"
            android:screenOrientation="portrait" />
        <!--失信信息-->
        <activity
            android:name=".module.company.ui.CreditInfoAct"
            android:screenOrientation="portrait" />
        <!--失信公司信息-->
        <activity
            android:name=".module.company.ui.CreditDetailAct"
            android:screenOrientation="portrait" />
        <!--诉讼信息-->
        <activity
            android:name=".module.company.ui.LitigationInfoAct"
            android:screenOrientation="portrait" />
        <!--诉讼详情信息-->
        <activity
            android:name=".module.company.ui.LitigationDetailAct"
            android:screenOrientation="portrait" />
        <!--网站信息-->
        <activity
            android:name=".module.company.ui.WebsiteAct"
            android:screenOrientation="portrait" />
        <!--舆情口碑-->
        <activity
            android:name=".module.company.ui.OpinionAct"
            android:screenOrientation="portrait" />
        <!--招聘-->
        <activity
            android:name=".module.company.ui.RecruitmentAct"
            android:screenOrientation="portrait" />
        <!--更多企业信息-->
        <activity android:name=".module.company.ui.MoreInfoAct"
            android:screenOrientation="portrait"></activity>
        <!--清算信息-->
        <activity
            android:name=".module.company.ui.ClearingInfoAct"
            android:screenOrientation="portrait" />
        <!--主要成员-->
        <activity
            android:name=".module.company.ui.ClearingMemberAct"
            android:screenOrientation="portrait" />
        <!--专利信息-->
        <activity
            android:name=".module.company.ui.PatentInfoAct"
            android:screenOrientation="portrait" />
        <!--专利详情信息-->
        <activity
            android:name=".module.company.ui.PatentDetailAct"
            android:screenOrientation="portrait" />
        <!--工商信息-->
        <activity
            android:name=".module.company.ui.BusinessInfoAct"
            android:screenOrientation="portrait" />
        <!--年报信息-->
        <activity
            android:name=".module.company.ui.ReportInfoAct"
            android:screenOrientation="portrait" />
        <!--企业名-->
        <activity android:name=".module.company.ui.SearchGsByNameAct"
            android:screenOrientation="portrait"></activity>
        <!--经营范围-->
        <activity android:name=".module.company.ui.JingyingFwAct"
            android:screenOrientation="portrait"/>
        <!--品牌查找-->
        <activity android:name=".module.company.ui.PinpaidocAct"
            android:screenOrientation="portrait"/>
        <!--商标详情-->
        <activity android:name=".module.company.ui.BrandInfoAct"
            android:screenOrientation="portrait"/>
        <!--裁剪-->
        <activity android:name=".widget.crop.CropImageActivity"
            android:screenOrientation="portrait"/>
        <!--查找商标-->
        <activity android:name=".module.home.ui.search.FindBrandAct"
            android:screenOrientation="portrait"/>
        <!--企业证书列表-->
        <activity android:name=".module.company.ui.QiYeZsAct"
            android:screenOrientation="portrait"/>
        </application>

</manifest>