<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boyuanitsm.echinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".module.start.SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity
            android:name=".module.home.ui.MainAct"
            android:screenOrientation="portrait"></activity>
        <!--我的资料-->
        <activity
            android:name=".module.mine.ui.MineAct"
            android:screenOrientation="portrait" />
        <!--查专利-->
        <activity
            android:name=".module.home.ui.search.SearchPatentAct"
            android:screenOrientation="portrait" />
        <!--消息-->
        <activity
            android:name=".module.mine.ui.MsgAct"
            android:screenOrientation="portrait" />
        <!--我的关注-->
        <activity
            android:name=".module.mine.ui.FollowAct"
            android:screenOrientation="portrait" />
        <!--意见反馈-->
        <activity
            android:name=".module.mine.ui.FeedBackAct"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".module.mine.ui.SettingAct"
            android:screenOrientation="portrait" />
        <!--修改资料内容-->
        <activity
            android:name=".module.mine.ui.EditAct"
            android:screenOrientation="portrait" />
        <!--分享-->
        <activity
            android:name=".module.mine.ui.ShareDialogAct"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialogStyle" />
        <!--登录-->
        <activity
            android:name=".module.user.ui.LoginAct"
            android:screenOrientation="portrait" />
        <!--注册-->
        <activity
            android:name=".module.user.ui.RegisterAct"
            android:screenOrientation="portrait" />
        <!--注册成功-->
        <activity
            android:name=".module.user.ui.RegisterSuccessAct"
            android:screenOrientation="portrait" />
        <!--查商标-->
        <activity
            android:name=".module.home.ui.search.SearchBrandAct"
            android:screenOrientation="portrait" />
        <!--查著作权-->
        <activity android:name=".module.home.ui.search.SearchCopyrightAct"
            android:screenOrientation="portrait"/>
        <!--查判决-->
        <activity android:name=".module.home.ui.search.SearchJudgmentAct"
            android:screenOrientation="portrait"/>
        <!--查被执行-->
        <activity android:name=".module.home.ui.search.SearchImplementedAct"
            android:screenOrientation="portrait"/>
        <!--查失信-->
        <activity android:name=".module.home.ui.search.SearchlosecreditAct"
            android:screenOrientation="portrait"/>
        <!--查股东/法人-->
        <activity android:name=".module.home.ui.search.SearchShareholderAct"
            android:screenOrientation="portrait"/>
        <!--高级搜索-->
        <activity android:name=".module.home.ui.search.AdvancedSearchAct"
            android:screenOrientation="portrait"/>
        <!--高级搜索注册时间筛选-->
        <activity android:name=".module.home.ui.search.RegisterTimeAct"
            android:screenOrientation="portrait"/>
        <!--高级搜索注册资金筛选-->
        <activity android:name=".module.home.ui.search.RegisterMoneyAct"
            android:screenOrientation="portrait"/>
    </application>

</manifest>